header { display: none !important; }
section { width: 100% !important; max-width: 900px !important; margin: 0 auto !important; }

table, tr, td { border: none !important; }

ul { list-style-type: none; padding-left: 0; }
li { margin-bottom: 10px; }
